@import "compass";
@import "../../theme_variables";
#search_block_top {
	float:right;
	position:relative;
	z-index:10;
	#searchbox {
		position:relative;
	}
	.icon-search {
		display:inline-block;
		cursor:pointer;
		color:#666666;
		font-size:16px;
		line-height:30px;
		padding:50px 0;
		margin: 0 20px;
		font-family: Roboto;
		&:before {
			font-family:$font-icon;
			display: inline-block;
			font-size: 18px;
			content: "\f002";
			color:$hover-color;
			margin-right:7px;
		}
		&:hover {
			color:$hover-color;
		}
	}
	.toogle_content {
		position: absolute;
		right: 0;
		top: 100%;
		min-width: 400px;
		display:none;
	}
	.btn.button-search {
		position:absolute;
		right:0;
		top:0;
	    background:transparent;
		display: inline-block;
		border: none;
		color:#666666;
		text-align: center;
		line-height:50px;
		height:50px;
		width:50px;
		padding:0;
		text-align:center;
		text-transform:capitalize;
		font-weight:700;
		font-size:0;
		@include pos-transition(300ms);
		span {
		}
		&:hover {
			color:$hover-color;
			@include pos-transition(300ms);
		}
		&:before {
			font-family:$font-icon;
			display: inline-block;
			font-size: 18px;
			content: "\f002";
		}
		&:active {
			box-shadow: none;
		}
	}
	#search_query_top {
		display: inline-block;
		width:100%;
		padding:10px 60px 10px 10px;
		@include nav-box-shaw;
		height:50px;
		z-index:1;
		color: #666666;
		background:$light-background;
		border:$main-border;
		margin-bottom:0;
		vertical-align:top;
		@include pos-transition(300ms);
		&:focus {
			box-shadow:none;
		}
	}

}

@media (max-width:$screen-xs-max) {
	#search_block_top {
		float:none;
		margin-bottom:20px;
		.icon-search {
			display:none !important;
		}
		.toogle_content {
			position:static;
			min-width: auto;
			display:block !important;
		}
	}
}
.ac_results {
	background: $light-background;
	border:$main_border !important;
	padding:0 10px;
	height:325px;
	overflow-y:scroll !important;
	@media (min-width:$screen-sm) {
		max-width:400px !important;
	}

	li {
		cursor:pointer !important;
		img {
			width:60px;
		}
	}
	.ac_product_name {
		padding:0 10px;
	}
}

