.labSearch{
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 999;
}
#search_block_top {
	padding: 0;
    position: relative;
}

#search_block_top   .current{
	  color: #b4b4b4;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 68px;
	margin: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#search_block_top .current i{
	    float: right;
    line-height: 68px;
	font-size: 13px;
    margin-left: 5px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
#search_block_top   .current:hover,
#search_block_top   .current.active{
	color:#1a1a1a;
}
#search_block_top .toogle_content{
	 box-shadow: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1102;
	margin: 0;
}
#search_block_top .form-control{
	border:none;
}
.lab_search{
	position:relative;
}
#lab_search_i{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #e1e1e1;
    margin: 0;
    padding: 15px;
    position: absolute;
    right: -15px;
    top: 110px;
    width: 290px;
	display:none;
}
#search_block_top .form-control:focus{
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-ms-box-shadow:0 0 0;
	-o-box-shadow:0 0 0;
	box-shadow:0 0 0;
}
  #search_block_top #searchbox {
	border: 1px solid #ececec;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;}
  #search_block_top .btn.button-search {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #666666;
    display: block;
    font-size: 20px;
    height: 30px;
    left: 0;
    line-height: 30px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;}
    #search_block_top .btn.button-search:hover {
      color: #000; }
  #search_block_top #search_query_top {
	background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #a7a7a7;
    display: inline;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 0;
    padding: 0 45px 0 15px;
    text-align: left;
    width: 100%;}
	#search_block_top .button{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		color: #b4b4b4;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		padding: 0 !important;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	#search_block_top .button:hover{
		color: #1a1a1a;
	}

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
.ac_results{
	width:258px !important;
}
.ac_results ul{
	margin:0 ;
	padding:0 15px 15px;
}	  
.ac_results ul li{
	overflow:hidden;
	padding:0 0 10px 0;
	margin:10px 0 0 0;
	border-bottom:1px solid #dedede;
	font-family:"Roboto Slab",serif;
	color:#333;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.ac_results ul li:last-child{
	border:none;
	padding:0;
}
.ac_results ul li img {
	float:left;
	display:inline;
	margin-right:10px;
	width:50px;
}
@media (max-width: 1024px) {
	
}
@media (max-width: 767px){
	.labSearch {
		position: static;
		margin-bottom: 20px;
	}
	#search_block_top .toogle_content{
		display: block !important;
		position: static;
		min-height: 40px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	}
	#search_block_top #searchbox{
		position: static;
		width:100%;
	}
	#search_block_top #search_query_top{
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}
	#search_block_top .button{
		font-size: 16px;
		height: 40px;
		line-height: 40px;
	}
	#search_block_top{

	}
	#search_block_top .current{
		display: none;
	}
	#search_block_top #search_query_top{
		 text-align: left;
	}
}

